html,
body {
  @apply h-full font-nunito
}

.render {
  @apply h-full fixed top-0 left-0 bottom-0 right-0 w-full bg-white z-[9999]
}

input,
textarea {
  @apply appearance-none
}

body {
  scrollbar-width: thin;
  scrollbar-color: dark;
  &::-webkit-scrollbar {
    @apply w-2
  }
  &::-webkit-scrollbar-track {
    @apply bg-gray-800
  }
  &::-webkit-scrollbar-thumb {
    @apply rounded-md border-2 border-solid border-gray-800 bg-red-400
  }
  @apply bg-gray-800
}

.wrapper {
  @apply container mx-auto px-6 md:px-10 lg:px-0
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}