.post__articles
  h2 Cтатьи по теме недвижимости
  .post__articles__blocks
    article.post__article.post__article-colorful
      img(src="/assets/images/post-article.png", alt="post-article")
      .post__article__content
        .post__article__title Как исполнить обязательства через депозит нотариуса
        a(href="")  Читать статью
    article.post__article.post__article-gray
      .post__article__content
        .post__article__title Тарифы на удостоверение договора купли-продажи загородной недвижимости
        a(href="")  Читать статью
        img(src="/assets/images/icons/information-7.svg", alt="information-7")
        