section.post
  .wrapper
    .post__wrapper 
      include ./postSidebar.pug
      article.post__content 
        .post__content__inner
          nav
            h4 Содержание статьи:
            ol 
              li 
                a(href="#section1") Договор продажи доли недвижимости
              li 
                a(href="#section2") Покупка недвижимости в долевую собственность
              li 
                a(href="#section3") Особенности договора продажи доли земельного участка
              li 
                a(href="#section4") Договор купли-продажи доли предприятия
              li 
                a(href="#section5") Стоимость оформления договора купли-продажи доли через нотариуса
          h2#section1 Договор купли-продажи недвижимого имущества
          p Недвижимость один из самых дорогих видов имущества. Поэтому любые операции с нею требуют осмотрительности. Вариантов защитить свои интересы при сделках с недвижимым имуществом множество. Но практика показывает, что самый оптимальный – регистрация прав на недвижимое имущество нотариусом. Сразу отметим, что нотариальная форма подобных сделок требуется только в нескольких случаях, регламентированных законодательством. В остальных ситуациях оформление договора купли-продажи квартиры у нотариуса осуществляется по желанию сторон.
          blockquote
            h3 Документы, необходимые для заключения договора:
            ol
              li Паспорта сторон
              li Свидетельство о браке, если брак уже заключен;
              li Правоустанавливающие документы на имущество.
          h2#section2 Преимущества нотариальной формы
          p Обращение в нотариальную контору для оформления сделки с недвижимостью – надежный вариант и для продавца, и для покупателя за счет следующих факторов:
          ul 
            li Гарантия юридической чистоты – заверение нотариусом договора купли-продажи квартиры осуществляется только после предварительной проверки всех документов, как на сам объект, так и участников соглашения.
            li Минимальный объем документов – договор купли-продажи квартиры через нотариуса требует от сторон документы, подтверждающие их личность, а также правоустанавливающие документы на объект недвижимости. В случае необходимости, при согласовании условий соглашения сторонами, может быть составлен предварительный <span>договор купли-продажи</span> недвижимого имущества.
            li Оперативность – действующее законодательство предусматривает сокращенные сроки регистрации прав на недвижимое имущество при нотариальном сопровождении сделки.
          h2#section3 Когда нотариус обязателен
          p В большинстве сделок с недвижимостью нотариус не обязателен, но мы уже отметили ранее, что есть случаи, когда без обращения к этому специалисту совершить сделку невозможно в силу определенных требований закона. Таких ситуации несколько:
          p Каждая из этих сделок имеет свои особенности, как по перечню необходимых документов, так и по порядку осуществления. Подробную информацию всегда может дать на консультации нотариус. Купля-продажа квартиры в этих случаях с несоблюдением нотариальной формы будет недействительной, и орган регистрации откажет в регистрации перехода прав.
          h2#section4 Правила нотариальной купли-продажи квартиры
          p Практическим руководством по оформлению служат Методические рекомендации ФНП РФ. Если речь идет о договоре с долевой собственностью ориентиром для нотариуса становится письмо № 1033/03-16-3 от 31.03.16.
          p Процедура удостоверения сделки купли-продажи включает:
          ol
            li <span>Проверку полномочий.</span> Право на заключение договора с жилой недвижимостью есть у собственников. При необходимости хозяева квартир могут делегировать задачу другому человеку. Полномочия передаются через доверенность. Распорядиться имуществом несовершеннолетних или недееспособных граждан могут законные представители с согласия органов опеки. Роль нотариуса на этом этапе сводится к оценке вменяемости, добровольности и правомочий на совершение сделки.
            li <span>Ознакомление с содержанием договора.</span> Удостоверению подлежат соглашения, не противоречащие действующему законодательству. Сторонам разъясняют истинный смысл действий, а также предупреждают о последствиях. Покупателю и продавцу помогают отыскать наиболее безопасный метод расчетов, предлагают оптимальный способ передачи имущества.
            li <span>Оценка юридической чистоты квартиры.</span> Перед удостоверением договоров проверяется принадлежность объектов продавцам. Сведения запрашивают из единой федеральной базы по электронным каналам, представленные участниками документы оценивают на предмет подлинности.
          h2#section5 Тарифы на ведение наследственных дел
        include ./postTable.pug
        include ./postForm.pug
        include ./postArticles.pug



