table 
  tr 
    th Наименование нотариального действия
    th Стоимость нотариального действия (нотариальный тариф + УПТХ (в рублях))
  tr.post__table__header 
    th Оформление наследственных прав
    th
      img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
  tr
    td Подготовка проектов любых заявлений в наследственное дело, необходимых для оформления наследства (выдачи свидетельств о праве на наследство)
    td <span>УПТХ - 1300</span> <br> <br> <span>Примечание:</span> Плата за УПТХ взимается за любые заявления, подготовленные нотариусом, необходимые для принятия решения по наследственному делу
  tr 
    td Свидетельство об удостоверении полномочий исполнителя завещания
    td <span>УПТХ - 2000</span>
  tr.post__table__header 
    th Меры по охране наследства и управлению им
    th
      img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
  tr 
    td Принятие мер по охране наследственного имущества
    td 
  tr 
    td Составление описи наследственного имущества за каждый затраченный час
    td <span>600 + 4000 за 1 час</span> <br> <br> <span>Примечание:</span> Выезд к месту составления описи оплачивается отдельно
  tr 
    td Учреждение доверительного управления наследственным имуществом
    td <span>УПТХ - 2000</span> <br> <br> <span>Примечание:</span> Выезд к месту составления описи оплачивается отдельно
  tr.post__table__header
    th Cвидетельства о праве собственности на долю в общем имуществе супругов <strong>количество объектов в свидетельстве не влияет на размер платы за УПТХ</strong>
    th
      img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
  tr
    td Принятие мер по охране наследственного имущества
    td 
  tr
    td Составление описи наследственного имущества за каждый затраченный час
    td <span>600 + 4000 за 1 час</span> <br> <br> <span>Примечание:</span> Выезд к месту составления описи оплачивается отдельно
  tr
    td Учреждение доверительного управления наследственным имуществом
    td <span>УПТХ - 2000</span> <br> <br> <span>Примечание:</span> Выезд к месту составления описи оплачивается отдельно
  tr.post__table__header
    th Договоры, предметом которых является недвижимое имущество <strong>Примечание: при удостоверении сделки двумя и более нотариусами, если в совершении такой сделки участвуют два и более лица без их совместного присутствия, плата за УПТХ взимается каждым из нотариусов полностью</strong>
    th
      img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
  tr
    td Принятие мер по охране наследственного имущества
    td 
  tr
    td Составление описи наследственного имущества за каждый затраченный час
    td <span>600 + 4000 за 1 час</span> <br> <br> <span>Примечание:</span> Выезд к месту составления описи оплачивается отдельно
  tr
    td Учреждение доверительного управления наследственным имуществом
    td <span>УПТХ - 2000</span> <br> <br> <span>Примечание:</span> Выезд к месту составления описи оплачивается отдельно