aside.post__sidebar
  .post__sidebar__container
    .post__sidebar__menu
      .post__sidebar__header нотариальные действия
      .post__sidebar__body
          .post__sidebar__toggle.opened
            .post__sidebar__title Юридическим лицам
            img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
          .post__sidebar__info
            .post__sidebar__link
              a(href="#") Оформление договора дарения у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи квартиры
            .post__sidebar__link
              a(href="#") Договор дарения квартиры
            .post__sidebar__link
              a(href="#") Брачный договор у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи земельного участка
            .post__sidebar__link
              a(href="#") Договор мены между недвижимого имущества
            .post__sidebar__link
              a(href="#") Опционный договор на покупку акций
          .post__sidebar__toggle 
            .post__sidebar__title Недвижимость
            img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
          .post__sidebar__info
            .post__sidebar__link
              a(href="#") Оформление договора дарения у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи квартиры
            .post__sidebar__link
              a(href="#") Договор дарения квартиры
            .post__sidebar__link
              a(href="#") Брачный договор у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи земельного участка
            .post__sidebar__link
              a(href="#") Договор мены между недвижимого имущества
            .post__sidebar__link
              a(href="#") Опционный договор на покупку акций
          .post__sidebar__toggle 
            .post__sidebar__title Доверенности
            img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
          .post__sidebar__info
            .post__sidebar__link
              a(href="#") Оформление договора дарения у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи квартиры
            .post__sidebar__link
              a(href="#") Договор дарения квартиры
            .post__sidebar__link
              a(href="#") Брачный договор у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи земельного участка
            .post__sidebar__link
              a(href="#") Договор мены между недвижимого имущества
            .post__sidebar__link
              a(href="#") Опционный договор на покупку акций
          .post__sidebar__toggle 
            .post__sidebar__title Согласия 
            img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
          .post__sidebar__info
            .post__sidebar__link
              a(href="#") Оформление договора дарения у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи квартиры
            .post__sidebar__link
              a(href="#") Договор дарения квартиры
            .post__sidebar__link
              a(href="#") Брачный договор у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи земельного участка
            .post__sidebar__link
              a(href="#") Договор мены между недвижимого имущества
            .post__sidebar__link
              a(href="#") Опционный договор на покупку акций
          .post__sidebar__toggle 
            .post__sidebar__title Нотариальные переводы
            img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
          .post__sidebar__info
            .post__sidebar__link
              a(href="#") Оформление договора дарения у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи квартиры
            .post__sidebar__link
              a(href="#") Договор дарения квартиры
            .post__sidebar__link
              a(href="#") Брачный договор у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи земельного участка
            .post__sidebar__link
              a(href="#") Договор мены между недвижимого имущества
            .post__sidebar__link
              a(href="#") Опционный договор на покупку акций
          .post__sidebar__toggle 
            .post__sidebar__title Заверения
            img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
          .post__sidebar__info
            .post__sidebar__link
              a(href="#") Оформление договора дарения у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи квартиры
            .post__sidebar__link
              a(href="#") Договор дарения квартиры
            .post__sidebar__link
              a(href="#") Брачный договор у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи земельного участка
            .post__sidebar__link
              a(href="#") Договор мены между недвижимого имущества
            .post__sidebar__link
              a(href="#") Опционный договор на покупку акций
          .post__sidebar__toggle 
            .post__sidebar__title Наследство
            img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
          .post__sidebar__info
            .post__sidebar__link
              a(href="#") Оформление договора дарения у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи квартиры
            .post__sidebar__link
              a(href="#") Договор дарения квартиры
            .post__sidebar__link
              a(href="#") Брачный договор у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи земельного участка
            .post__sidebar__link
              a(href="#") Договор мены между недвижимого имущества
            .post__sidebar__link
              a(href="#") Опционный договор на покупку акций
          .post__sidebar__toggle 
            .post__sidebar__title Семейные отношения
            img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
          .post__sidebar__info
            .post__sidebar__link
              a(href="#") Оформление договора дарения у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи квартиры
            .post__sidebar__link
              a(href="#") Договор дарения квартиры
            .post__sidebar__link
              a(href="#") Брачный договор у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи земельного участка
            .post__sidebar__link
              a(href="#") Договор мены между недвижимого имущества
            .post__sidebar__link
              a(href="#") Опционный договор на покупку акций
          .post__sidebar__toggle 
            .post__sidebar__title Прочие действия
            img(src="/assets/images/icons/angle-down-black.svg", alt="angle-down-black")
          .post__sidebar__info
            .post__sidebar__link
              a(href="#") Оформление договора дарения у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи квартиры
            .post__sidebar__link
              a(href="#") Договор дарения квартиры
            .post__sidebar__link
              a(href="#") Брачный договор у нотариуса
            .post__sidebar__link
              a(href="#") Договор купли-продажи земельного участка
            .post__sidebar__link
              a(href="#") Договор мены между недвижимого имущества
            .post__sidebar__link
              a(href="#") Опционный договор на покупку акций
    button(type="button").post__sidebar__online
      img(src="/assets/images/icons/sidebar-written.svg", alt="sidebar-written")
      p Онлайн запись
    a(href="#").post__sidebar__whatsup
      img(src="/assets/images/icons/whatsup-icon.svg", alt="whatsup-icon")
      p Написать в WhatsApp
    .post__sidebar__helpful
      .post__sidebar__header полезные сервисы
      .post__sidebar__body
        a(href="#").post__sidebar__item
          img(src="/assets/images/icons/registers-1.svg", alt="registers-1")
          p Проверка нотариального документа по QR-коду
        a(href="#").post__sidebar__item
          img(src="/assets/images/icons/registers-3.svg", alt="registers-3")
          p Реестр уведомлений о залоге движимого имущества
        a(href="#").post__sidebar__item
          img(src="/assets/images/icons/registers-2.svg", alt="registers-2")
          p Проверить доверенность
    .post__sidebar__contacts
      img(src="/assets/images/logo-big-red.svg", alt="logo-big-red")
      .post__sidebar__text в центре Москвы
      .post__sidebar__schedule
        a(href="tel:+7 (495) 568-15-08").post__sidebar__number +7 (495) 568-15-08
        p пн-пт 9:00—19:00
      .post__sidebar__location
        img(src="/assets/images/icons/location.svg", alt="location")
        p г. Москва, ул. Мясницкая, <br> дом 24, главный вход
      .post__sidebar__location
        img(src="/assets/images/icons/calendar.svg", alt="calendar")
        p пн-пт 9:00—19:00, <br> без перерывов
      a(href="#").post__sidebar__whatsup
        img(src="/assets/images/icons/whatsup-icon.svg", alt="whatsup-icon")
        p Написать в WhatsApp