section.hero__post
  .wrapper
    .hero__post__wrapper 
      .breadcrumbs
        a(href="#") Нотариальные действия
        span / 
        a(href="#") Нотариальный договор и нотариальное заверение
        span / 
        span Договор купли продажи квартиры (отчуждение доли)
      h1 Договор купли продажи квартиры (отчуждение доли)
      .hero__post__content
        p Запишитесь в Нотариальную контору на консультацию по теме недвижимости или оформите договор купли продажи недвижимого имущества
        button(type="button").call-popup Онлайн запись