extends ../layouts/master.pug

block title
  title Нотариальная контора | 404

block basicSeo
  meta(name='description' content='Error page')
  meta(name='keywords', content='error, page')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  +header('404') 

  main
    include ../components/error.pug
    include ../components/popup.pug