include ../mixins/actions-item.pug
section.actions 
  .wrapper 
    .actions__wraper
      .actions__title Нотариальные действия
      .actions__items 
        +actions-item(
          'Юридическим лицам',
          '#',
          '/assets/images/icons/action1.svg',
          'action1',
          [
            'Оформление договора дарения у нотариуса',
            'Договор дарения квартиры',
            'Брачный договор у нотариуса',
            'Договор купли-продажи земельного участка',
            'Договор мены между недвижимого имущества',
            'Опционный договор на покупку акций',
          ]
        )
        +actions-item(
          'Недвижимость',
          '#',
          '/assets/images/icons/action2.svg',
          'action2',
          [
            'Договор об отчуждении недвижимого имущества',
            'Передача в безвозмездное пользование',
            'Купля-продажа квартиры через нотариуса',
            'Нотариальный договор дарения квартиры',
            'Отказ от приватизации',
            'Сделка с недвижимостью',
            'Оформление договора купли-продажи недвижимости',
          ]
        )
        +actions-item(
          'Доверенности',
          '#',
          '/assets/images/icons/action3.svg',
          'action3',
          [
            'Доверенность на автомобиль',
            'Генеральная доверенность',
            'Судебная доверенность',
            'Доверенность для сбора документов',
            'Прочие доверенности',
            'Доверенность на оформление права собственности на квартиру',
            'Доверенность на заселение в гостиницу несовершеннолетнего - новые правила на разрешение заселения',
          ]
        )
        +actions-item(
          'Согласия',
          '#',
          '/assets/images/icons/action4.svg',
          'action4',
          [
            'Согласие на выезд ребенка за границу',
            'Согласие супруга на совершение сделки',
            'Согласие на регистрацию',
            'Согласие на отказ от участия в приватизации',
            'Согласие супругу (супруге) на залог доли (части доли) ООО',
            'Согласие залогодателя на внесудебный порядок',
          ]
        )
        +actions-item(
          'Нотариальные переводы',
          '#',
          '/assets/images/icons/action5.svg',
          'action5',
          [
            'Договор об отчуждении недвижимого имущества',
            'Передача в безвозмездное пользование',
            'Купля-продажа квартиры через нотариуса',
            'Нотариальный договор дарения квартиры',
            'Отказ от приватизации',
            'Сделка с недвижимостью',
            'Оформление договора купли-продажи недвижимости',
          ]
        )
        +actions-item(
          'Заверения',
          '#',
          '/assets/images/icons/action6.svg',
          'action6',
          [
            'Доверенность на заселение в гостиницу несовершеннолетнего - новые правила на разрешение заселения',
            'Доверенность на автомобиль',
            'Генеральная доверенность',
            'Судебная доверенность',
            'Доверенность для сбора документов',
            'Прочие доверенности',
            'Доверенность на оформление права собственности на квартиру',
          ]
        )
        +actions-item(
          'Наследство',
          '#',
          '/assets/images/icons/action7.svg',
          'action7',
          [
            'Согласие на выезд ребенка за границу',
            'Согласие супруга на совершение сделки',
            'Согласие на регистрацию',
            'Согласие на отказ от участия в приватизации',
            'Согласие супругу (супруге) на залог доли (части доли) ООО',
            'Согласие залогодателя на внесудебный порядок',
          ]
        )
        +actions-item(
          'Семейные отношения',
          '#',
          '/assets/images/icons/action8.svg',
          'action8',
          [
            'Договор об отчуждении недвижимого имущества',
            'Передача в безвозмездное пользование',
            'Купля-продажа квартиры через нотариуса',
            'Нотариальный договор дарения квартиры',
            'Отказ от приватизации',
            'Сделка с недвижимостью',
            'Оформление договора купли-продажи недвижимости',
          ]
        )
        +actions-item(
          'Прочие действия',
          '#',
          '/assets/images/icons/action9.svg',
          'action9',
          [
            'Доверенность на заселение в гостиницу несовершеннолетнего - новые правила на разрешение заселения',
            'Доверенность на автомобиль',
            'Генеральная доверенность',
            'Судебная доверенность',
            'Доверенность для сбора документов',
            'Прочие доверенности',
            'Доверенность на оформление права собственности на квартиру',
          ]
        )