section.advantages 
  .wrapper 
    .advantages__wrapper 
      .advantages__item
        img(src="/assets/images/advantages-item1.svg", alt="advantages-item")
        p Находимся в центре Москвы (метро Чистые пруды, Тургеневская, Сретенский бульвар)
      .advantages__item
        img(src="/assets/images/advantages-item2.svg", alt="advantages-item")
        p Работаем с 9:00 <br> до 19:00, без перерыва <br> на обед
      .advantages__item
        img(src="/assets/images/advantages-item3.svg", alt="advantages-item")
        p Взаимодействуем <br> по телефону, почте <br> и через мессенджеры
      .advantages__item
        img(src="/assets/images/advantages-item4.svg", alt="advantages-item")
        p Работаем по праздникам <br> и в выходные дни <br> (по договорённости)
      .advantages__item
        img(src="/assets/images/advantages-item5.svg", alt="advantages-item")
        p Готовим документы <br> заранее