section.contacts
  .wrapper
    .contacts__wrapper 
      .contacts__title Контакты
      a(href="tel:+7 (495) 568-15-08").contacts__phone +7 (495) 568-15-08
      a(href="#").contacts__whatsup
        img(src="/assets/images/icons/whatsup-icon.svg", alt="whatsup-icon")
        span Написать в WhatsApp
    .contacts__items
      .contacts__item
        img(src="/assets/images/icons/location.svg", alt="location")
        p г. Москва, ул. Мясницкая, дом <br> 24/7, с.1 <br><br> вход с улицы Мясницкая, <br> 2 этаж 
      .contacts__item
        .contacts__item__inner
          img(src="/assets/images/icons/subway-red.svg", alt="subway-red")
          p Чистые пруды
        .contacts__item__inner
          img(src="/assets/images/icons/subway-green.svg", alt="subway-green")
          p Сретенский бульвар
        .contacts__item__inner
          img(src="/assets/images/icons/subway-orange.svg", alt="subway-orange")
          p Тургеневская
      .contacts__item
        img(src="/assets/images/icons/calendar.svg", alt="calendar")
        p пн-пт 9:00-19:00 <br> без перерывов
      .contacts__item
        img(src="/assets/images/icons/email.svg", alt="email")
        a(href="mailto:info@notarius24.ru") info@notarius24.ru
    img.pc.contacts__bg(src="/assets/images/contacts-map-pc.svg", alt="contacts-svg-pc")
    img.mob.contacts__bg(src="/assets/images/contacts-map-mob.svg", alt="contacts-svg-mob")
