section.error 
  .wrapper 
    .error__wrapper 
      h1 Ошибка 404
      p Неправильно набран адрес, или такой страницы больше не существует. <a href="/"><span>На главную</span><img src="/assets/images/icons/arrow-right-red-big.svg" alt="arrow-right-red-big"></a>
      .error__buttons
        button(type="button").error__button.error__button-online.call-popup Онлайн запись
        a(href="#").error__button.error__button-whatsup
          img(src="/assets/images/icons/whatsup-icon.svg", alt="whatsup-icon")
          span Написать в WhatsApp
      .error__bg 
        img(src="/assets/images/help-bg.png", alt="help-bg")