section.help
  .wrapper
    .help__wrapper 
      .help__content
        .help__title ПОМОЩЬ ПО ЛЮБОМУ ВОПРОСУ
        .help__description Услуги специалиста понадобятся во многих срочных и серьезных делах, будь то выдача документов или нотариально засвидетельствованный перевод. Нотариус в субботу в Москве поможет:
        ul.help__list
          li удостоверить сделку;
          li засвидетельствовать верность выписок из документов и их копий, аутентичность подписи, правильность перевода и многое другое;
          li выдать свидетельство о праве на владение имуществом или получение наследства;
          li удостоверить факт жизни гражданина, его пребывания в том или ином месте, тождественность с лицом на фотографии;
          li совершить исполнительные надписи или протест векселей;
          li принять на хранение ценные вещи или положить деньги на депозитный счет;
          li зарегистрировать уведомления о залоге имущества и многое другое.
      .help__image
        .help__bubble
          .help__bubble__header Нотариальная контора
          .help__bubble__text г. Москва, ул. Мясницкая, <br> дом 24, главный вход
        img(src="/assets/images/help-bg.png", alt="help-bg")

