section.information
  .wrapper
    .information__wrapper 
      .information__header
        .information__title Полезная информация
        a(href="#").information__link Все статьи
      .information__blocks
        .information__block.information__block-red
          img(src="/assets/images/icons/information-1-red.svg", alt="information-1-red")
          .information__block__title Внесение сведений в единую информационную систему нотариата
          a(href="#") Читать статью
        .information__block.information__block-colorful
          img(src="/assets/images/information-bg.png", alt="information-bg")
          .information__block__title Как исполнить обязательства через депозит нотариуса
          a(href="#") Читать статью
        .information__block.information__block-grey
          img(src="/assets/images/icons/information-9.svg", alt="information-9")
          .information__block__title Нотариальная телепортация: передача документов через нотариуса
          a(href="#") Читать статью
      




