section.licenses
  .wrapper
    .licenses__wrapper 
      .licenses__content
        .licenses__title Лицензии
        .licenses__description 
          p Приказ Главного Управления Министерства юстиции Российской Федерации по Москве о наделении полномочиями нотариуса, занимающегося частной практикой <span> № 367 от 27 июля 2022 года </span>
          p Лицензия на право нотариальной деятельности № 367, выдана Главным Управлением Федеральной регистрационной службы по Московской области от 07 июля 2006 года
      .licenses__images
        .licenses__block
          .licenses__image
            .licenses__border
              img(src="/assets/images/order.png", alt="order")
          p Приказ
        .licenses__block
          .licenses__image
            .licenses__border
              img(src="/assets/images/license.png", alt="license")
          p Лицензия

