section.location
  .wrapper
    .location__wrapper 
      .location__content
        .location__title НОТАРИУС В ЦЕНТРЕ МОСКВЫ
        .location__subtitle Нотариус Москвы, работающий в выходные дни: в субботу и воскресенье. Благодаря такому графику, клиенты получают профессиональную правовую помощь без лишней траты времени и сил
        p Требуется срочно заверить документ. Например, в понедельник ребенок должен отправиться на спортивные сборы за рубеж или просто в развлекательную поездку на море, и вам необходимо заранее оформить согласие на выезд за границу. Если на неделе найти время на визит к специалисту очень сложно, лучше заранее узнать, какой нотариус работает в праздники и выходные. Случается, что рассмотрение дела существенно затягивается. Некоторые задачи требуют неоднократного посещения конторы
        button(type="button").call-popup Онлайн запись
      .location__image 
        img(src="/assets/images/location.png", alt="location")