include ../mixins/news-item.pug
section.news
  .wrapper
    .news__wrapper 
      .news__title Новости Московской городской нотариальной палаты 
      .news__blocks
        +news(
          '#',
          '12 июля 2022',
          'Законодатель вновь привлекает нотариат для защиты юридически значимых сведений'
        )
        +news(
          '#',
          '8 июля 2022',
          'В Москве пройдет VI Всероссийский юридический форум по реформе гражданского законодательства'
        )
        +news(
          '#',
          '20 августа 2022',
          'Цифровое развитие и унификация права: нотариаты стран СНГ выходят на новый уровень интеграции'
        )
        +news(
          '#',
          '20 августа 2022',
          'Новеллы в законодательстве о цифровом нотариате в 2021 году, вступающие в действие с 29 декабря 2020 года'
        )
      .news__button
        a(href="#") Все новости




