include ../mixins/questions-item.pug
section.questions
  .wrapper 
    .questions__wrapper
      .questions__header
        .questions__title Вопросы нотариусу
        a(href="#").questions__link Все вопросы
      .questions__slider 
        .swiper.questions__slider__container
          .swiper-wrapper 
            +questions-item('К какому нотариусу я могу обратиться для оформления доверенности?', 'Да, Вы можете обратиться в нашу нотариальную контору с заявлением об электронной подаче документов на государственную регистрацию', 'Наследство', '#')
            +questions-item('Нужно ли отцу давать согласие на выезд несовершеннолетнего ребенка с мамой?', 'Для осмотра сайта необходимо позвонить в нашу нотариальную контору или оставить заявку на сайте, наш сотрудник свяжется с Вами', 'Согласие на выезд', '#')
            +questions-item('Может нотариус заверить переписку в социальных сети?', 'Да, такое действе называется обеспечением доказательств и придает документу юридическую силу', 'Наследство', '#')
      .questions__button 
        button(type="button").call-popup Задать вопрос