section.rates
  .wrapper
    .rates__wrapper 
      .rates__content
        .rates__title Тарифы
        p Размеры нотариального тарифа, государственной пошлины и платы за оказание услуг правового и технического характера. Тарифы в разделе актуальные на 13 января 2021 года. Для уточнения цен позвоните по телефонам указанным выше. Нотариус цены не устанавливает. Нотариальные тарифы утверждает нотариальная палата. Стоит отметить, что льготы не распространяются на услуги правового и технического характера.
        p УТВЕРЖДЕНО решением Правления Нотариальной палаты
      a(href="#") Смотреть тарифы