section.registers
  .wrapper
    .registers__wrapper 
      .registers__header
        .registers__title Публичные реестры
      .registers__items
        a(href="#").registers__item
          img(src="/assets/images/icons/registers-1.svg", alt="registers-1")
          .registers__text Проверка нотариального документа по QR-коду
        a(href="#").registers__item
          img(src="/assets/images/icons/registers-3.svg", alt="registers-3")
          .registers__text Реестр уведомлений о залоге движимого имущества
        a(href="#").registers__item
          img(src="/assets/images/icons/registers-5.svg", alt="registers-5")
          .registers__text Реестр договоров инвестиционного товарищества
        a(href="#").registers__item
          img(src="/assets/images/icons/registers-2.svg", alt="registers-2")
          .registers__text Проверить доверенность
        a(href="#").registers__item
          img(src="/assets/images/icons/registers-4.svg", alt="registers-4")
          .registers__text Реестр наследственных дел
        a(href="#").registers__item
          .registers__link Другие полезные сервисы
          img(src="/assets/images/icons/arrow-right.svg", alt="arrow-right")







