include ../mixins/reviews-item.pug
section.reviews
  .wrapper
    .reviews__wrapper 
      .reviews__header
        .reviews__title Отзывы о нас
        a(href="#").reviews__link Все отзывы
      .reviews__items
        +reviews-item(
          '26 августа 2022', 
          'Виктор Иванов', 
          'Очень понравилось, рекомендую. Удобно находится, нет очередей и непривычно расслабленная атмосфера. Вежливый образованный персонал, отличное обслуживание'
          )
        +reviews-item(
          '15 июля 2022', 
          'Кирилл Вешняков', 
          'Уже дважды оформляли сделки по купле-продаже квартир. Быстро, профессионально. Достаточно комфортное ожидание, есть переговорные комнаты. Нотариус вдумчивая, местоположение удобное, недалеко от зоопарка'
          )
        +reviews-item(
          '15 июля 2022', 
          'Анна Реймерс', 
          'Удобно расположение, время работы, грамотный подход и вежливые сотрудники'
          )
      .reviews__button
        button(type="button").call-popup Оставить отзыв

